@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600;800&family=Satoshi:wght@400;500&display=swap');

body {
  font-family: 'Satoshi', sans-serif;
  color: var(--text);
  background: var(--bg);
}
h1, h2 {
  font-family: 'EB Garamond', serif;
}
